doctype html
html(lang="en")
  head
    title Post Page
  body
    section.post
      .container.text-right
      a(href="").text-faded view all
      .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading I like to run!

        hr.light

        p.text-faded
          | This is some decent paragraph content

        .article
          | This is some decent paragraph content
